<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Customer Analytics Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div class="container">
      <h1>Real-Time Customer Analytics Dashboard</h1>
      <section class="github-badges">
        <img
          src="https://img.shields.io/github/last-commit/arsari/RT-CAD-AEP?color=orange&style=flat-square&logo=github"
          alt="GitHub Last Commit" title="Source Code Last Update" />
        <img src="https://img.shields.io/github/v/tag/arsari/RT-CAD-AEP?logo=github&sort=semver&style=flat-square"
          alt="GitHub tag (latest SemVer)" title="Source Code Current Version" />
      </section>

      <h2>Overall Metrics</h2>
      <div id="metrics">
        <p>Overall Conversion Rate: <span id="conversion-rate"></span>%</p>
        <p>Active Users: <span id="active-users"></span></p>
        <p>Dropoff Rate: <span id="dropoff-rate"></span>%</p>
      </div>

      <h2>Customer Segments</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Segment</th>
            <th>Conversion Rate</th>
          </tr>
        </thead>
        <tbody id="customer-table"></tbody>
      </table>
    </div>

    <script src="/static/script.js"></script>
  </body>

</html>